@import "breakpoints";
@import "globals";

body {
  width: 100vw;
  height: 100vh;
  background: $dark-blue;
}
.container {
  margin: 0 auto;
  padding: 50px 25px;
  max-width: 1200px;
  height: 100vh;
  background: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
}

.logo {
  & img {
    width: 200px;

    @include tablet {
      width: 150px;
    }

    @include mobile {
      width: 100px;
    }
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-align: center;

  @include tablet {
    margin-top: 35px;
    flex-direction: column;
  }

  @include mobile {
    margin-top: 35px;
    flex-direction: column;
  }

  & .main-mockup {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 100%;
    }

    & img {
      width: 600px;

      @include tablet {
        width: 450px;
      }

      @include mobile {
        width: 300px;
      }
    }
  }
}

.main-text {
  margin-left: 50px;
  margin-top: -50px;

  @include tablet {
    margin-left: 0;
    margin-top: 10px;
  }

  @include mobile {
    margin-left: 0;
    margin-top: 10px;
  }
  & h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;

    @include tablet {
      font-size: 32px;
    }

    @include mobile {
      font-size: 32px;
    }
  }

  & p {
    font-size: 20px;
    font-weight: 400;
    color: #fff;

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  & .cta-reg {
    color: $dark-blue;
    font-size: 18px;
    margin-top: 20px;
    padding: 20px 60px;
    border: none;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition: 350ms ease;

    @include tablet {
      margin-top: 30px;
      font-size: 16px;
      padding: 15px 35px;
    }
    @include tablet {
      margin-top: 30px;
      font-size: 16px;
      padding: 10px 30px;
    }

    &:hover {
      cursor: pointer;
      color: #fff;
      background: $soft-blue;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    }
  }
}

.footer {
  display: flex;
  justify-content: end;
  align-items: center;

  @include tablet {
    justify-content: center;
    margin-top: 25px;
  }
  @include mobile {
    justify-content: center;
    margin-top: 25px;

  }

  .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;

    @include tablet {
      margin-right: 0;
    }
    @include mobile {
      margin-right: 0;

      & i {
          font-size: 25px;
      }

    }

    & i {
      font-size: 40px;
      color: #fff;
      margin: 20px 20px;

      &:hover {
        cursor: pointer;
        color: $soft-blue;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
